**/.settings
**/Debug
**/Drivers
**/Core/Startup
**/Middlewares

**/.cproject
**/.mxproject
# **/.project
**\ Debug.launch
**/STM32G491RETX_FLASH.ld
**/STM32G491RETX_RAM.ld

**/Core/Inc/stm32g4xx_hal_conf.h
**/Core/Inc/stm32g4xx_it.h

**/Core/Src/stm32g4xx_hal_msp.c
**/Core/Src/stm32g4xx_it.c
**/Core/Src/syscalls.c
**/Core/Src/sysmem.c
**/Core/Src/system_stm32g4xx.c

**/STM32G491CCUX_FLASH.ld
**/USB_Device/
