<launch>
  <!-- static_transform_publisher's args -->
  <!-- x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->

  <arg name="gripper" doc="'l' or 'r'" />
  <arg name="finger" doc="'l' or 'r'" />
  <arg name="part" doc="'top', 'back', 'left' or 'right'" />
  <arg name="parent_link" />

  <!-- PFS-01B's sensor 0 -->
  <node pkg="tf" type="static_transform_publisher"
        name="$(arg gripper)_gripper_$(arg finger)_fingertip_pfs_b_$(arg part)_0_broadcaster"
        args="-0.003 -0.003 0 0 0 0 1
              $(arg parent_link) $(arg gripper)_gripper_$(arg finger)_fingertip_pfs_b_$(arg part)_0
              100" />

  <!-- PFS-01B's sensor 1 -->
  <node pkg="tf" type="static_transform_publisher"
        name="$(arg gripper)_gripper_$(arg finger)_fingertip_pfs_b_$(arg part)_1_broadcaster"
        args="0.003 -0.003 0 0 0 0 1
              $(arg parent_link) $(arg gripper)_gripper_$(arg finger)_fingertip_pfs_b_$(arg part)_1
              100" />

  <!-- PFS-01B's sensor 2 -->
  <node pkg="tf" type="static_transform_publisher"
        name="$(arg gripper)_gripper_$(arg finger)_fingertip_pfs_b_$(arg part)_2_broadcaster"
        args="-0.003 0.003 0 0 0 0 1
              $(arg parent_link) $(arg gripper)_gripper_$(arg finger)_fingertip_pfs_b_$(arg part)_2
              100" />

  <!-- PFS-01B's sensor 3 -->
  <node pkg="tf" type="static_transform_publisher"
        name="$(arg gripper)_gripper_$(arg finger)_fingertip_pfs_b_$(arg part)_3_broadcaster"
        args="0.003 0.003 0 0 0 0 1
              $(arg parent_link) $(arg gripper)_gripper_$(arg finger)_fingertip_pfs_b_$(arg part)_3
              100" />
</launch>
